body{
font-family: arial;
background-color: black;
color: white;
padding: 20px;
}

input,button{
padding: 10px;
margin:5px;
width: 100%;
border: none;
border-radius: 10px;
background: #222;
color: white;

}
button{
background-color: red;
color: #222;
cursor: pointer;
transition:background-color 0.3s ease;
}
button:houver{
background-color: rgb(255, 255, 255);
}
.agendamento{
margin-top: 20px;
border-top: 1px;
padding-top: 1px solid black;}

.profissional{
background-color:red;
color: white;
cursor: pointer;
transition: 0.3s;
width:30%;
}
.servico{
background-color:red;
color: white;
cursor: pointer;
transition: 0.3s;
width:30%;

}